
html{background-color: #aad4cf;}
body{font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 18px;
    margin-left:auto;
    margin-right: auto;
    background-color:#d4eae7;
    width: 700px;
    max-width: 100%;
}
header{background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-position: top;
    /*background-size: 700px auto; */ 
  
}
header {color: white; text-align: center;
    margin:50px;
    padding:;}

.sub-headding{color: black; }
.container{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;}

img{width: 300px;
    float: left;
    /*padding:0 15px 0 0*/
    margin-right: 10px;
    margin-left: 10px;
}
    
/*.container{position: relative;} */


  



