/* This is css page of assignment html.*/

body{font-family: "Arial", "Helvetica", sans-serif;
    font-size: 18px; 
    background-color: #F9EFE1;

}

.site-title{ color: #3987AA;}

#my-image {box-shadow: 0px 0px 2px 1px black  ; }

ul.a { list-style-type: square; }
.a li:nth-child(odd){background-color: #97EEF7;}

.link{text-decoration-line: none; background-color: #ADDDF2; padding: 5px;}

.link:hover{background-color: #BDEFAC;}

ul.b{ list-style-type: none ;}